/.DS_Store
/.venv
/.~Book1__10025.twbr
/.~HRData__10196.twbr
/.~HRData__10645.twbr
/.~HRData__10838.twbr
/.~HRData__11013.twbr
/.~HRData__11553.twbr
/.~HRData__11663.twbr
/.~HRData__12120.twbr
/Book1.twb